body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: "Pavanam", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root > div:last-child {
  flex: 1;
}

.home {
  width: 100%;
  height: 100%;
}

.music-shop,
.merch-shop,
.sale-shop,
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1192px;
  padding: 0 24px 24px 24px;
}

.cart {
  width: 1096px;
}
