.cart-item {
  width: 200px;
}

.cart-item-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.cart-item-img:hover {
  transform: scale(1.03);
}

.cart-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.cart-title {
  margin-top: 6px;
}

.cart-price {
  color: gray;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity-label {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  width: 36px;
  height: 36px;
  font-size: 20px;
}

.quantity-control > button {
  width: 36px;
  height: 36px;
  font-size: 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.remove {
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-left: 6px;
}

.total {
  position: absolute;
  bottom: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  background-color: rgb(199, 75, 75);
  color: white;
  font-size: 20px;
  padding: 14px 30px;
  border-radius: 40px;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.total:hover {
  background-color: rgb(138, 59, 59);
}

.total-cart-logo {
  width: 28px;
}
