.nav-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(197, 197, 197);
  width: 100%;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.logo {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 50px;
  cursor: pointer;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.nav-link {
  font-family: "Thasadith", sans-serif;
  color: black;
  text-decoration: none;
  margin-left: 40px;
  padding: 6px 14px;
  border-radius: 5px;
}

.nav-link:hover {
  background-color: rgb(243, 243, 243);
  transition: 0.3s;
}

.cart-logo {
  margin-left: auto;
  margin-right: 40px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cart-logo:hover {
  background-color: rgb(243, 243, 243);
  transition: 0.3s;
}

.cart-logo > img {
  width: 24px;
}

.cart-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-left: -10px;
  margin-top: -20px;
  font-family: "Cabin", sans-serif;
  font-size: 12px;
}

.cart-badge.visible {
  opacity: 1;
}

.cart-badge.hidden {
  opacity: 0;
}
