.shop-item {
  width: 280px;
}

.shop-item-img {
  width: 280px;
  height: 280px;
  object-fit: contain;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s;
}

.shop-item-img:hover {
  transform: scale(1.03);
}

.shop-title {
  margin-top: 6px;
}

.shop-price {
  color: gray;
}

h2 {
  width: 100%;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
